* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

// .hidden {
//     display: none;
// }
  
.center {
    padding-left: 21px;
    padding-right: 21px;
}


.hidden{
    display: none;
}


@import './normalize';
@import './Dropdown.scss';
// @import './AddParametr.scss';
// @import './page.scss';
@import './authorization.scss';
// @import 'lobby';
// @import 'waiting';
// @import 'game';
// @import 'result';

